node_modules/
artifacts/
cache/
deployments/hardhat
deployments/localhost
deployments/geth
# deployments/torus
deployments/*
typechain-types

deployments.zip


.prettierignore.ci

.env
./.env
./*.env
./.env.*
.env*

.env.prod
.env.*
*.env


.idea/
.vscode/
.run/
bin/
.appData/
.DS_Store

dist/


notepad.sh

.appData

.deps/

logs/

notepad.txt


ignition/deployments/

*.justfile


crytic-export/

flatten.sol
flat.sol